{$GFS_WEB_HOST} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }

    reverse_proxy gfs:8765 {
        header_up Host {host}
        header_up X-Forwarded-Proto https
    }
}
